#myForm {
    margin-left: 70px;
    font-weight: bold ;
    float: left;
    clear: left;
    width: 100px;
    text-align: left;
    margin-right: 10px;
    font-family:sans-serif,bold, Arial, Helvetica;
    font-size:14px;
}

form {
    margin: 0 auto;
    width: 600px;
}

.fullName {
    margin-top: 20px;
}

fieldset {
    width: 120px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

legend {
    width: 45%;
}

input {
    border-width: thin;
    border-radius: .25rem;
    line-height: 1.5;
    padding: .375rem .75rem;
}

input[type=date] {
    width: 312px;
}

input[type=radio] {
    margin-left: 14px;
    margin-right: 5px;
}


label[for=email] {
    margin-top: 20px;
}


/*div country*/
select.form-control {
    width:152px;
}

select.form-control:not([size]):not([multiple]) {
    height: calc(2.25rem);
}

.postcode {
    position: relative;
    float:left;
}

.country {
    position: absolute;
    float:right;
    margin-left: 162px;
}

.error {
    display: none;
    padding-top: 10px;
    color: #ff0000;
}